{% extends 'base.html' %}
{% load rest_framework %}
{% load staticfiles %}
{% load extra_tags %}

{% block script_start %}
    <script>
        var csrf = "{{ csrf_token }}"
        var event_id = {{ event_id }}
        var raffles = {{ results|jsonify }}
    </script>
{% endblock %}

{% block title %}
    ERaffler
{% endblock %}

{% block content %}
    <raffler-list></raffler-list>
{% endblock %}

{% block scripts_end %}
    <script src="{% static "compiled/js/raffler.js" %}"></script>
{% endblock scripts_end %}